{% load static %}
<div class="container pt-5">
  <div class='row'>
    <div class='col-6 text-center pt-5'>
      <h1 class="text-info">Welcome To My  Library Management Project</h1>
      <p class="text-white">
        Our school library is on the second floor of the school building, in a very large space. It is well-furnished, with numerous almirahs, desks, chairs, benches, pictures of famous persons, and maps. There are Thirty almirahs for holding books. During free time, many students visit the library to study magazines and books. A library can help individuals grow intellectually in order to create a knowledge-based society. A library is considered the beating heart of any academic institution. I'm glad to discover that our school has such an enriched library.
      </p>
    </div>
    <div class='col-6'>
      <img src="{% static 'book101.jpg'%}" style='width:90%; border-radius:10px;' alt="book">
    </div>
  </div>
</div>